  /* demo */
  body {
      margin:0; font-family:'Rubik', sans-serif; font-weight:100; background-color:#1F1F1F;
    }
  *, *:after, *:before {
      -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
    }
  #events {
      background-color:#ccc;
    }
    h1, h2, h3, h4, div {
        color: white;
    }
    .button {
        margin: 10px;
        padding: 20px;
        width: 25%;
        border: 2px solid #f7f7f7;
        text-transform: uppercase;
        position: relative;
        transition: 0.3s;
        display: inline-block;
      }
      .button:after {
        position: absolute;
        transition: 0.3s;
        content: '';
        width: 0;
        left: 50%;
        bottom: 0;
        height: 3px;
        background: #f7f7f7;
      }
      .button:hover {
        cursor: pointer;
      }
      .button:hover:after {
        width: 100%;
        left: 0;
      }