@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

body {
  background-color:#1F1F1F;
  font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, button, div {
  color: white;
}

/* Login Boxes */
.input-box {
  position: relative;
}

.input-box input {
  border-style: none;
  background: transparent;
  border-bottom: 1px solid white;
  width: 50%;
  position: relative;
  outline: none;
  padding: 10px 0;
  color: white;
  font-size: 18px;
  margin-bottom: 30px;
}

.input-box label {
  color: white;
  position: absolute;
  padding: 10px 195px;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  color: orange;
  font-size: 16px;
  top: -20px;
  transition: 0.5s;
}

.button {
  flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
  width: 50%;
  border: 2px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}
.button:after {
  position: absolute;
  transition: 0.3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #f7f7f7;
}
.button:hover {
  cursor: pointer;
}
.button:hover:after {
  width: 100%;
  left: 0;
}
.button:hover:nth-of-type(1) {
  box-shadow: inset 0px 0px 0px 3px #f7f7f7;
}
.button:hover:nth-of-type(1):after {
  width: 0%;
}


/* Toast Noti */

#toast{
  position:fixed;
  top:0;
  left:50%;
  transform:translate(-50%);
  /* background-color:#df4759; */
  background-color:#42ba96;
  color:#fff;
  padding:16px;
  border-radius:4px;
  text-align:center;
  z-index:1;
  box-shadow:0 0 20px rgba(0,0,0,0.3);
  visibility:hidden;
  opacity:0;
}

#toast.show{
  visibility:visible;
  animation:fadeInOut 3s;
}

@keyframes fadeInOut{
  5%,95%{opacity:1;top:50px}
  15%,85%{opacity:1;top:30px}
}